* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

kbd {
    border: 1px solid red;
    width: 4em;
    height: 4em;
    display: inline-block;
    text-transform: uppercase;
    /*小写变大写*/
    position: relative;
}

kbd>button {
    position: absolute;
    bottom: 0;
    right: 0;
    display: none;
}

kbd:hover>button {
    display: inline-block;
}
body{
    background: grey url(./wall.jpg) no-repeat center center;
    background-size: cover; /*屏幕自适应*/

}
main {
    height: 100vh;   /*跟窗口一样高*/
    text-align: center;
    /*居中*/
    display: flex;  /*弹性盒子*/
    justify-content: center;
    align-items: center;

}
.wrapper{
    background: rgba(255,255,255,0.2);
    border-radius: 4px;
}
#x {
    display: inline-block;
    /*父级设置居中*/

}

#x>div:nth-child(2) {
    margin-left: -22px;
}

#x>div:nth-child(3) {
    margin-left: -80px;
}

.key {
    width: 50px;
    height: 50px;
    background: linear-gradient(to right, rgba(41, 41, 41, 1)0%, rgba(17, 17, 17, 1)100%);
    border: 1px solid #373737;
    color: #c5c5c5;
    border-radius: 6px;
    box-shadow: 0 0 0 1px #1a1b1c, 0 0 0 2px #1f2020, 0 2px 0 1px #080808;
    position: relative;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.row {
    margin: 20px;
}

.row .key {
    margin: 0 10px;
}
.key img{
    width: 16px;
    height: 16px;
    position: absolute;
    left: 4px;
    bottom:8px;
}
.key .text{
    position: absolute;
    left: 4px;
    top: 2px;
}